#page-wrapper{
	padding: 0 30px;
}
#topic_list .topic_list,#topic_list .subject_list{
	display:none;
}
#topic_list .topic_list.first,#topic_list .subject_list.first{
	display:block;
}
#topic_list .topic_list .list-group .list-group-item.active{
	color: #fff;
	background-color: #428bca;
}
.loggedin{
	color:white;
}
.loggedin a{
	display:inline-block!important;
	color:white!important;
	text-decoration: underline;
}
#user-menu{
	display:none;
}
#answer-question{
	display:none;
}
table tr td{padding:10px;}

.clear{
	clear:both;
}